# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting to a ZIP.
/.gitattributes         export-ignore
/.gitignore             export-ignore
/LICENSE                export-ignore
/README.md              export-ignore
/README-zh_CN.md        export-ignore
/project.godot          export-ignore
/icon.png               export-ignore
/icon.png.import        export-ignore
/icon.svg               export-ignore
/icon.svg.import        export-ignore
/screenshots            export-ignore
/babel.cfg              export-ignore
/gdfxr.pot              export-ignore
/Makefile               export-ignore
/example                export-ignore
/addons/gdfxr/editor/translations/gdfxr.pot export-ignore
